.header {
    display: flex;
    align-items: center;
    background-color: #424242;
}
.header a {
    display : flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    padding-left: 10px;
}
.header .logo{   
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}
