.sidenav{
    width:200px;
    background-color: #212121;
}

.sidenav a {
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}
.content{
    padding: 16px;
    background-color: #FFF;
    color: #000;
}